---
// No need for any TypeScript or props unless you're customizing around it
---

<div class="mt-4 w-full rounded-lg bg-neutral-200 p-4 dark:bg-neutral-800">
  <iframe
    data-tally-src="https://tally.so/embed/wLy8Bp?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1"
    loading="lazy"
    width="100%"
    height="176"
    frameborder="0"
    marginheight="0"
    marginwidth="0"
    title="Subscriber's Email"
    class="rounded-lg border-2 border-neutral-300 dark:border-neutral-700"
  ></iframe>
</div>

<script is:inline>
  var d = document,
    w = "https://tally.so/widgets/embed.js",
    v = function () {
      if (typeof Tally !== "undefined") {
        Tally.loadEmbeds();
      } else {
        d.querySelectorAll("iframe[data-tally-src]:not([src])").forEach(function (e) {
          e.src = e.dataset.tallySrc;
        });
      }
    };
  if (typeof Tally !== "undefined") {
    v();
  } else if (d.querySelector('script[src="' + w + '"]') == null) {
    var s = d.createElement("script");
    s.src = w;
    s.onload = v;
    s.onerror = v;
    d.body.appendChild(s);
  }
</script>
